

body{
    margin: 0px;
}
.heading{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: rgba(182, 31, 31, 0.568);
    display: flex;
    justify-content: center;
    color: white;
   
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    
}
#textInput{
    border-radius: 8px;
    margin: 10px;

}
button{
    border-radius: 10px;
    border: 0;
    padding: 8px;
    background: rgba(85, 153, 165, 0.479);
}
.itemText{
    font-size: 25px;
}
